<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key ="DBConnection_Address"	value="127.0.0.1"/>
		<add key ="DBConnection_DBName"		value="standardmes"/>
		<add key ="DBConnection_ID"			value="Customer"/>
		<add key ="DBConnection_PW"			value="qwe123!@#"/>
	</appSettings>
</configuration>
